* {
    margin: 0px;
    padding: 0px;
}

body {
overflow-x: hidden;
}

.main_website {
    animation-name: fade;
    animation-duration: 0.8s;
    animation-delay: 5s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}