@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 245px;
    height: 65px;
    background-color: black;
    position: fixed;
    z-index: 3;
    width: 100%;
    /* border-bottom: outset 1px white; */
}

li {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    font-size: 36px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: 0.2s ease-out;
    cursor: pointer;
}

li:hover {
    color: blue;
}